body.cvs {
    background: rgba(0, 0, 0, .6);
}

#moncv,
.moncv {
    background: ghostwhite;
    border-right: 40px solid;
    border-left: 0;
    border-top: 0;
    border-bottom: 0;
}

.cv ul {
    list-style: none;
}

.cv {
    border: 2px solid;
    border-radius: 10px;
}

.cv .right {
    /* border-top: 3px double; */
}

.cv .summary textarea {
    max-width: 100%;
    width: 100%;
    min-height: 10.8em;
}

.summary {
    font-size: 1.2em;
}

.language .col-md-10,
.programming_language .col-md-10 {
    padding-right: 2% !important;
}

.language .col-md-2,
.programming_language .col-md-2 {
    padding: 0;
}

.cv section.row {
    padding: 1% 0;
    margin: 1% 0;
}

.cv label {
    text-transform: capitalize;
}

.student_infos a {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}

.first-field {
    padding: 0 8px 0 0;
}

.student_dashboard1 .col-md-11,
.student_dashboard1 .col-md-1 {
    padding: 0;
}

.student_dashboard1 .col-md-11 {
    margin-left: -15px;
    margin-right: 5px;
}

.field {
    padding-left: 0;
}

.actions {
    word-spacing: 1em;
    box-shadow: 2px 2px 10px 0px blanchedalmond;
    border-radius: 0px 0px 5px 5px;
    padding: 2% 0px;
    background: rgba(0, 0, 0, 0.4);
    align-self: center;
    margin-left: 0.5%;
    text-align: center;
    margin-top: 0 !important;
    margin-right: .5%;
}

.actions a {
    border-radius: 50%;
    width: auto;
}

.switch {
    /* position: relative;
    left: 10.5em;
    bottom: 2.4em; */
}

#skills,
#languages,
#programming_languages,
#experiences,
#backgrounds,
#hobbies,
#summaries,
#developer_type,
#myprofil {
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 40px 50px rgba(0, 0, 0, 0.25) !important;
    outline: none;
    font-size: 1em;
    padding: 0.5% 0.1%;
}

.edit #languages,
.edit #programming_languages {
    padding: 0 1% 0 0;
}

#cv_developer_type {
    text-align: -webkit-center;
}

#skills input,
#languages input,
#programming_languages input {
    outline: none;
    border: 0;
    float: left;
    padding: 8px;
    background: none;
}

#languages input,
#programming_languages input {
    width: 100%;
    margin: 1% 0% 1% .5%;
    box-shadow: 1px 1px 5px inset;
    border-radius: inherit;
}

#skills input {
    margin: 0.5% 0.5%;
}

#skills::before,
#languages::before,
#programming_languages::before,
#summaries::before {
    content: '';
    display: table;
}

#skills::after,
#languages::after,
#programming_languages::after,
#summaries::after {
    content: '';
    display: table;
    clear: both;
}

#hobbies textarea {
    height: 90px;
}

.edit .languages .tag,
.edit .programming_languages .tag {
    margin: 0.5% 0.5%;
}

.show .languages .tag,
.show .programming_languages .tag {
    margin: .5% 0 !important;
}

.skills .tag {
    margin: 0 0.4%;
}

.tag {
    border-radius: 3px;
    background: #b5aff9;
    float: left;
    padding: 4px;
    font-size: 1.4em;
    vertical-align: middle;
    box-shadow: 0px 1px 4px #c6c6c6, 0px 2px 17px #d1d1d1;
    width: auto;
}

.tag a {
    color: #000;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.tag .close {
    display: none;
}

.show .tag span.name {
    padding: 5px 10px;
}

.tag span {
    padding: 5px 10px 5px 0px;
}

.tag span.name {
    /* padding-left: 2%; */
    position: relative;
}

.tag.language,
.tag.programming_language {
    width: 100%;
}

.tag .glyphicon {}

.stars {
    word-spacing: .5em;
    /* margin: 0 .5%; */
    float: right;
}

.tag span.level:hover {
    cursor: pointer;
}

.note {
    position: fixed;
    bottom: 10px;
    text-align: center;
    width: 100%;
}

/* Experiences */

.experience,
.background {
    background-color: #222;
    border: 0 none;
    margin: 0 .2% 1% .2%;
    color: whitesmoke;
    padding: 1%;
    border-radius: 5px;
}

.experience .name,
.experience .date,
.background .name,
.background .date {
    display: inline;
}

.experience .name,
.background .name {
    width: 40%;
}

.experience .date,
.background .date {
    width: 60%;
}

.experience .name span,
.experience .name input,
.background .name span,
.background .name input {
    margin-bottom: 1%;
    padding: 0 1%;
    border-radius: 5px;
    display: -webkit-inline-box;
    background-color: #4CAF50;
    color: white;
}

.experience .date span,
.experience .date input,
.background .date span,
.background .date input {
    width: 25.1612195%;
    border: 1px solid;
    padding: 0 1%;
    border-radius: 5px;
    margin: 0 .5% 0 0%;
}

.experience .description p,
.experience .description textarea,
.background .description p,
.background .description textarea {
    border: 1px solid;
    background-color: whitesmoke;
    color: #222;
    padding: 0 1%;
    border-radius: 5px;
    margin: .5% 0;
}

@media only screen and (min-width: 1200px) {

    /* col-xl- */
    * {
        /* border: 1px solid blue; */
    }

    .tag.language,
    .tag.programming_language {
        margin: 0.5%;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {

    /* col-lg- */
    * {
        /* border: 1px solid red; */
    }

    .cv .summary h2 {
        display: none;
    }

    .cv #summaries,
    .cv #summaries textarea {
        height: 100%;
    }

    .cv label,
    .tag span.name {
        font-size: initial;
    }

    .tag div.stars {
        font-size: x-small;
    }

    .tag.language,
    .tag.programming_language {
        margin: 0% 0% 0.7% 0%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {

    /* col-md- */
    * {
        /* border: 1px solid gold; */
    }

    .cv label {
        font-size: smaller;
        text-decoration: underline;
    }

    .tag span.name {
        font-size: initial;
    }

    .tag div.stars {
        font-size: x-small;
    }

    .tag.language,
    .tag.programming_language {
        margin: 0% 0% 0.7% 0%;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {

    /* col-sm- */
    * {
        /* border: 1px solid white; */
    }

    .cv h2 {
        text-align: center;
    }

    .cv label,
    .tag span.name {
        font-size: smaller;
    }

    .tag.language,
    .tag.programming_language {
        margin: 0% 0% 0.7% 0%;
    }
}

@media only screen and (min-width: 360px) and (max-width: 575px) {

    /* col- */
    * {
        /* border: 1px solid black; */
    }

    .cv h2 {
        text-align: center;
    }

    .cv label,
    .tag span.name {
        font-size: initial;
    }

    .cv .background,
    .cv .background label,
    .cv .experience,
    .cv .experience label {
        font-size: xx-small;
    }

    .tag.language,
    .tag.programming_language {
        margin: 0% 0% 0.7% 0%;
    }
}

/* Not supported screen */
@media only screen and (max-width: 359px) {

    /* col- */
    * {
        display: none;
    }
}