<% content_for :head_tag do %>
<!--jquery steps-->
<link href="/assets/vendor/jquery-steps/jquery.steps.css" rel="stylesheet">
<!--date picker-->
<link href="/assets/vendor/date-picker/css/bootstrap-datepicker.min.css" rel="stylesheet">
<link href="/assets/users/registrations/registrations.css" rel="stylesheet">
<script src="/assets/vendor/icheck/skins/icheck.min.js"></script>
<!--jquery validate-->
<script src="/assets/vendor/jquery-validation/jquery.validate.min.js"></script>
<!--jquery steps-->
<script src="/assets/vendor/jquery-steps/jquery.steps.min.js"></script>
<!--init steps-->
<script src="/assets/vendor/js-init/init-form-wizard.js"></script>
<!--jquery stepy-->
<script src="/assets/vendor/jquery-steps/jquery.stepy.js"></script>
<!--input mask-->
<script src="/assets/vendor/input-mask/jquery.inputmask.bundle.js"></script>
<!--init input mask-->
<script src="/assets/vendor/js-init/init-input-mask.js"></script>
<!--date picker-->
<script src="/assets/vendor/date-picker/js/bootstrap-datepicker.min.js"></script>
<!--init date picker-->
<script src="/assets/vendor/js-init/pickers/init-date-picker.js"></script>
<!-- registration js -->
<script src="/assets/users/registrations/registrations.js"></script>
<% end %>
<div class="col-xl-12">
    <div class="card card-shadow mb-4">
        <div class="card-header border-0">
            <div class="custom-title-wrap bar-warning row">
                <div class="col-2 btn-link">
                    <a href="/users/sign_up" data-method="GET">S'inscrire</a>
                </div>
                <div class="col-2 btn-link">
                    <a href="/users/sign_in" data-method="GET">Se connecter</a>
                </div>
                <div class="col-2 btn-link">
                    <a href="/users/password/new" data-method="GET">Mot de passe oublié</a>
                </div>
                <div class="custom-title col-3">J'ai pas reçu d'email de confirmation</div>
            </div>
        </div>
        <div class="card-body">
			<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post, id: "wizard-validation-form", class: "right-text-label-form custom-wz" }) do |f| %>
            <div>
                <h3>
                    <span class="wz-title">Renvoyer</span>
                    <span class="wz-sub-header"><%= t(".resend_confirmation_instructions") %></span>
                </h3>
                <section>
                    <div class="col-sm-3 col-md-3"></div>
                    <div class="col-sm-6 col-md-6">
                        <div class="input-group mb-3">
                            <div class="input-group-append">
                                <span class="input-group-text" id="basic-addon2"><label for="user_email">Email</label></span>
                            </div>
    						<%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), placeHolder:"email@address.com", class: "required form-control" %>
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-3"></div>
                </section>
            </div>
            <% end %>
        </div>
    </div>
</div>