<% if current_user.status == "admin" %> <a class="dropdown-item" href="/admin" data-method="GET">Espace Admin</a> <% end %>
<a class="dropdown-item" href="/mondashboard" data-method="GET">Dashboard</a>
<div class="dropdown-divider"></div>
<a class="dropdown-item" href="/notifications/new" data-method="GET">Créer une notification</a>
<a class="dropdown-item" href="/notifications" data-method="GET">Notifications créees
	<span class="badge badge-primary"><%=  Notification.all.length %></span>
</a>
<a class="dropdown-item" href="#">Inbox <span class="badge badge-primary">3</span></a>
<a class="dropdown-item" href="#">Message <span class="badge badge-success">5</span></a>
<div class="dropdown-divider"></div>
<a class="dropdown-item" href="/users/sign_out" data-method="DELETE">Se déconnecter</a>