<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <ul class="">
        <li>
            <a href="/" data-method="GET">home</a>
        </li>
        <% if !user_signed_in? %>
        <li>
            <%= link_to "s'inscrire", new_user_registration_path, method: :get %>
        </li>
        <li>
            <%= link_to "se connecter", new_user_session_path, method: :get %>
        </li>
        <% else %>
        <li>
            <%= link_to "mondashboard", mondashboard_path, method: :get %>
        </li>
        <li>
            <%= link_to "se deconnecter", destroy_user_session_path, method: :delete %>
        </li>
        <% end %>
    </ul>
</nav>