<div class="header_wrapper_4" style="background-image: url('images/staff.JPG'); background-size: cover;">
    <div class="sary">
            <div class="intro_wrapper_4" >
              <div class="container">
                  <div class="row" >
                      <div class="col-12 col-sm-12 col-md-12 col-lg-12 ml-auto intor_text_4">
                          <div class="intro-text" style="text-align: center;">
                              <h1 class=" wow fadeInUp" data-wow-duration="2s" data-wow-delay=".2s" style="font-size: 500%">Take the first step to learn with us</h1>
                              <div class="intro_button  wow fadeInUp" data-wow-duration="2s" data-wow-delay=".3s">

                                <center>
                                  <a href="#" class="active"><span>Read More</span><i class="flaticon-angle-arrow-pointing-to-right"></i></a>
                                </center>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
            </div>
    </div>
</div>

<!--========={ About Us }========-->
<section class="about_4">
    <div class="about_shape about_shape_1"><img src="images/shape/welcome_shpe_41.png" alt=""></div>
    <div class="about_shape about_shape_2"><img src="images/shape/welcome_shpe_42.png" alt=""></div>
    <div class="about_top_wrapper">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                    <div class="title">
                        <h2 class="wow fadeInUp" data-wow-duration="2s" data-wow-delay=".2s">Welcome to Ecostudy</h2>
                        <p class="wow fadeInUp" data-wow-duration="2s" data-wow-delay=".3s">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint. </p>
                        <p class="wow fadeInUp" data-wow-duration="2s" data-wow-delay=".3s">occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi.</p>
                        <a href="#" class="nav-link join_now wow fadeInUp" data-wow-duration="2s" data-wow-delay=".3s">About Us <i class="fas fa-chevron-right"></i></a>
                     </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 ml-auto">
                    <div class="video_wrapper">
                        <div class="video_play">
                            <div class="video-play-btn  wow zoomIn" data-wow-duration="2s" data-wow-delay=".1s">
                                <a href="https://www.youtube.com/watch?v=VaZ_B4HeewU" class="video-iframe"><i class="fa fa-play"></i></a>
                            </div>
                        </div>
                     </div>
                </div>
            </div>
        </div>
    </div>

    <div class="about_bottom_wrapepr">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="info_courses_single info_courses_single_1 m-r  wow fadeIn" data-wow-duration="2s" data-wow-delay=".2s">
                        <i class="flaticon-open-book-top-view"></i>
                        <h3><a href="" title="">Academic</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="info_courses_single info_courses_single_2 m-l  wow fadeIn" data-wow-duration="2s" data-wow-delay=".4s">
                        <i class="flaticon-contract"></i>
                        <h3><a href="" title="">Diploma</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="info_courses_single  info_courses_single_3 m-r  wow fadeIn" data-wow-duration="2s" data-wow-delay=".6s">
                        <i class="flaticon-mortarboard"></i>
                        <h3><a href="" title="">Graducation</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="info_courses_single info_courses_single_4 m-l  wow fadeIn" data-wow-duration="2s" data-wow-delay=".8s">
                        <i class="flaticon-fashion"></i>
                        <h3><a href="" title="">Fashion</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- End About Us -->


<!--========={ Count Our Info }========-->
<section class="counter_3"  style="background-color: #1FC8B1;" >
    <div class="container"  >
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <div class="title">
                    <h2 class=" wow fadeInUp" data-wow-duration="2s" data-wow-delay=".2s">We are Proud</h2>
                    <p class=" wow fadeInUp" data-wow-duration="2s" data-wow-delay=".3s">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                </div>
            </div>
        </div>
        <div class="counter_items_wrapper">
            <div class="counters-item  wow fadeIn" data-wow-duration="2s" data-wow-delay=".2s">
                <div class="counter-box">
                    <div class="project-count counter">7096</div>
                    <span>Learners</span>
                </div>
            </div>

            <div class="counters-item  wow fadeIn" data-wow-duration="2s" data-wow-delay=".4s">
                <div class="counter-box">
                    <div class="project-count counter">508</div>
                    <span>Countires Reached</span>
                </div>
            </div>

            <div class="counters-item  wow fadeIn" data-wow-duration="2s" data-wow-delay=".6s">
                <div class="counter-box">
                    <div class="project-count counter">167</div>
                    <span>Courses</span>
                </div>
            </div>

            <div class="counters-item  wow fadeIn" data-wow-duration="2s" data-wow-delay=".8s">
                <div class="counter-box">
                    <div class="project-count counter">70</div>
                    <span>Years of Service</span>
                </div>
            </div>
        </div>

    </div>
</section><!-- End Count Our Info -->


<!--========={ Publications }========-->
<section class="publications_4"  >
    <div class="about_shape about_shape_1"><img src="images/shape/bublication_shape_1.png" alt=""></div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <div class="title">
                    <h2 class=" wow fadeInUp" data-wow-duration="2s" data-wow-delay=".2s">Our Latest Publications</h2>
                    <p class=" wow fadeInUp" data-wow-duration="2s" data-wow-delay=".3s">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                </div>
            </div>

            <div class="col-12 col-sm-12 col-md-6 col-lg-3">
                <div class="single_publications  wow fadeIn" data-wow-duration="2s" data-wow-delay=".2s">
                    <div class="pubications_bannar">
                        <a href="" title=""><img src="images/publications/publications_1.png" alt="" class="img-fluid"></a>
                    </div>
                    <div class="publications_title">
                        <span>By Jone Lee</span>
                        <h4><a href="" title="">Energy & Environment Research</a></h4>
                    </div>
                    <a href="#" class="nav-link publications_btn">Purchase - $250</a>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-3">
                <div class="single_publications  wow fadeIn" data-wow-duration="2s" data-wow-delay=".4s">
                    <div class="pubications_bannar">
                        <a href="" title=""><img src="images/publications/publications_2.png" alt="" class="img-fluid"></a>
                    </div>
                    <div class="publications_title">
                        <span>By Dr. Alex Limon</span>
                        <h4><a href="" title="">Pys medicine DNO research</a></h4>
                    </div>
                    <a href="#" class="nav-link publications_btn">Purchase - $250</a>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-3">
                <div class="single_publications  wow fadeIn" data-wow-duration="2s" data-wow-delay=".6s">
                    <div class="pubications_bannar">
                        <a href="" title=""><img src="images/publications/publications_3.png" alt="" class="img-fluid"></a>
                    </div>
                    <div class="publications_title">
                        <span>By Nathen Dived</span>
                        <h4><a href="" title="">Science Technology management</a></h4>
                    </div>
                    <a href="#" class="nav-link publications_btn">Purchase - $250</a>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-3">
                <div class="single_publications  wow fadeIn" data-wow-duration="2s" data-wow-delay=".8s">
                    <div class="pubications_bannar">
                        <a href="" title=""><img src="images/publications/publications_4.png" alt="" class="img-fluid"></a>
                    </div>
                    <div class="publications_title">
                        <span>By Mrs. Sanjida Haque</span>
                        <h4><a href="" title="">Advancing Nursing Research method</a></h4>
                    </div>
                    <a href="#" class="nav-link publications_btn">Purchase - $250</a>
                </div>
            </div>
        </div>
    </div>
</section><!-- End Publications -->


<!--========={ Our Take A Tour }========-->
<section class="take_tour">
    <div class="about_top_wrapper">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                    <div class="title">
                        <h2 class=" wow fadeInUp" data-wow-duration="2s" data-wow-delay=".2s">Take a tour</h2>
                        <p class=" wow fadeInUp" data-wow-duration="2s" data-wow-delay=".2s">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint. </p>
                        <p class=" wow fadeInUp" data-wow-duration="2s" data-wow-delay=".2s">occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi.</p>
                        <div class="video_wrapper  wow fadeInUp" data-wow-duration="2s" data-wow-delay=".2s">
                            <div class="video-play-btn">
                                <span><a href="https://www.youtube.com/watch?v=VaZ_B4HeewU" class="video-iframe"><i class="fa fa-play"></i><span class="video_title">Watch Video</span></a></span>
                            </div>
                        </div>
                     </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 p-0 ml-auto">
                    <div class="take_tour_banner">
                     </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- End Take A Tour -->


<!--========={ Our Testimonial }========-->
<section class="testimonial_4">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <div class="title">
                    <h2 class=" wow fadeInUp" data-wow-duration="2s" data-wow-delay=".2s">Testimonials</h2>
                    <p class=" wow fadeInUp" data-wow-duration="2s" data-wow-delay=".3s">Sed ut perspiciatis unde omnis iste natus error sit.</p>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                 <div class="testimonial_wrapper_4">
                    <div class="testimonial_single">
                        <div class="member-img">
                            <img src="images/team/team-01.jpg" alt="member img" class="img-fluid  wow zoomIn" data-wow-duration="2s" data-wow-delay=".2s">
                        </div>
                        <h4 class=" wow fadeIn" data-wow-duration="2s" data-wow-delay=".2s">Nilpori Nilanjona</h4>
                        <span class=" wow fadeIn" data-wow-duration="2s" data-wow-delay=".4s">Guardian</span>
                        <p class=" wow fadeIn" data-wow-duration="2s" data-wow-delay=".6s">I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings.</p>
                    </div>
                    <div class="testimonial_single">
                        <div class="member-img">
                            <img src="images/team/team-02.jpg" alt="member img" class="img-fluid">
                        </div>
                        <h4>By Dr. Alex Limon</h4>
                        <span>Guardian</span>
                        <p>I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness.</p>
                    </div>
                    <div class="testimonial_single">
                        <div class="member-img">
                            <img src="images/team/team-03.jpg" alt="member img" class="img-fluid">
                        </div>
                        <h4>By Nathen Dived</h4>
                        <span>Guardian</span>
                        <p>I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- End Testimonial -->


<!--========={ Our Sponsor }========-->
<section class="our_sponsor">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <div class="title">
                    <h2>Our Sponsor</h2>
                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui similique sunt in culpa qui officia deserunt mollitia animi</p>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <div id="sponsored_logos" class="owlCarousel sponsored_compani_logos">
                    <img src="images/logos/logo-1.png" alt="member img" class="img-fluid  wow fadeIn" data-wow-duration="2s" data-wow-delay=".1s">
                    <img src="images/logos/logo-2.png" alt="member img" class="img-fluid  wow fadeIn" data-wow-duration="2s" data-wow-delay=".2s">
                    <img src="images/logos/logo-3.png" alt="member img" class="img-fluid  wow fadeIn" data-wow-duration="2s" data-wow-delay=".3s">
                </div>
                <div id="sponsored_logos_2" class="owlCarousel sponsored_compani_logos">
                    <img src="images/logos/logo-4.png" alt="member img" class="img-fluid  wow fadeIn" data-wow-duration="2s" data-wow-delay=".6s">
                    <img src="images/logos/logo-5.png" alt="member img" class="img-fluid  wow fadeIn" data-wow-duration="2s" data-wow-delay=".5s">
                    <img src="images/logos/logo-6.png" alt="member img" class="img-fluid  wow fadeIn" data-wow-duration="2s" data-wow-delay=".4s">
                </div>
            </div>
        </div>
    </div>
</section><!-- End Our Sponsor -->

