<!--========={ Our Instructiors }========-->
<section class="our_instructors">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 d-flex justify-content-center">
                <div class="title text-center">
                    <h2>NOTRE EQUIPE</h2>
                    <p>Une équipe dynamique, qui se donne corps et âme pour redresser Madagascar, en aidant les jeunes du pays à trouver du travail et sortir de la pauvreté.</p>
                </div>
            </div>
            <div class="mahita text-center">
              <div class="single-wrapper mahita1">
                  <div class="team-single-item wow fadeIn" data-wow-duration="2s" data-wow-delay=".2s">
                      <figure>
                          <div class="member-img">
                              <div class="teachars_pro">
                                  <img src="images/staff/matina.JPG" alt="Sayna gang" class="img-fluid myImg">
                              </div>
                          </div>
                          <figcaption>
                              <div class="member-name">
                                  <h4><a href="#" title="">Matina</a></h4>
                                  <span>Co-founder & CEO</span>
                              </div>
                              <div class="spacer">&nbsp;</div>
                              <ul class="social-links list-unstyled">
                                  <li class="nav-item"><a href="https://www.facebook.com/RazafimahefaMatina/"><i class="fab fa-facebook-f"></i></a></li>
                                  <li class="nav-item"><a href="https://twitter.com/razafimahefam?lang=en"><i class="fab fa-twitter"></i></a></li>
                                  <li class="nav-item"><a href="https://www.linkedin.com/in/matina-razafimahefa-a8156a135/"><i class="fab fa-linkedin-in"></i></a></li>
                                  <li class="nav-item"><a href="https://www.instagram.com/matina_razafimahefa/?hl=en"><i class="fab fa-instagram"></i></a></li>
                              </ul>
                          </figcaption>
                      </figure>
                  </div>
              </div>

              <div class="single-wrapper mahita1">
                  <div class="team-single-item wow fadeIn" data-wow-duration="2s" data-wow-delay=".3s">
                      <figure>
                          <div class="member-img">
                              <div class="teachars_pro">
                                  <img src="images/staff/nirina.JPG" alt="Sayna gang" class="img-fluid myImg">
                              </div>
                          </div>
                          <figcaption>
                              <div class="member-name">
                                  <h4><a href="#" title="">Nirina</a></h4>
                                  <span>COO & CIO</span>
                              </div>
                              <div class="spacer">&nbsp;</div>
                              <ul class="social-links list-unstyled">
                                  <li class="nav-item"><a href="https://www.facebook.com/Nirina.Rahoeliarivahy"><i class="fab fa-facebook-f"></i></a></li>
                                  <li class="nav-item"><a href="https://www.linkedin.com/in/nirina-rahoeliarivahy-153696105/"><i class="fab fa-linkedin-in"></i></a></li>
                                  <li class="nav-item"><a href="https://www.instagram.com/nirinarahoeliarivahy/?hl=fr"><i class="fab fa-instagram"></i></a></li>
                              </ul>
                          </figcaption>
                      </figure>
                  </div>
              </div>

              <div class="single-wrapper mahita1">
                  <div class="team-single-item wow fadeIn" data-wow-duration="2s" data-wow-delay=".4s">
                      <figure>
                          <div class="member-img">
                              <div class="teachars_pro">
                                  <img src="images/staff/patrik.jpg" alt="Sayna gang" class="img-fluid myImg">
                              </div>
                          </div>
                          <figcaption>
                              <div class="member-name">
                                  <h4><a href="#" title="">Patrick</a></h4>
                                  <span>CTO</span>
                              </div>
                              <div class="spacer">&nbsp;</div>
                              <ul class="social-links list-unstyled">
                                  <li class="nav-item"><a href="https://www.facebook.com/pat.triip"><i class="fab fa-facebook-f"></i></a></li>
                                   <li class="nav-item"><a href="https://www.linkedin.com/in/patrickrz/"><i class="fab fa-linkedin-in"></i></a></li>
                                  <li class="nav-item"><a href="https://www.instagram.com/patpasha/"><i class="fab fa-instagram"></i></a></li>
                              </ul>
                          </figcaption>
                      </figure>
                  </div>
              </div>

              <div class="single-wrapper mahita1">
                        <div class="team-single-item wow fadeIn" data-wow-duration="2s" data-wow-delay=".2s">
                            <figure>
                                <div class="member-img">
                                    <div class="teachars_pro">
                                        <img src="images/staff/mialy.JPG" alt="Sayna gang" class="img-fluid myImg">
                                    </div>
                                </div>
                                <figcaption>
                                    <div class="member-name">
                                        <h4><a href="#" title="">Mialy</a></h4>
                                        <span>Community Builder</span>
                                    </div>
                                    <div class="spacer">&nbsp;</div>
                                    <ul class="social-links list-unstyled">
                                        <li class="nav-item"><a href="https://www.facebook.com/haingminouuch"><i class="fab fa-facebook-f"></i></a></li>
                                        <li class="nav-item"><a href="https://www.linkedin.com/in/haingomialy-ralaiarisoa-7751a1152/"><i class="fab fa-linkedin-in"></i></a></li>
                                        <li class="nav-item"><a href="https://www.instagram.com/ikalagoum/"><i class="fab fa-instagram"></i></a></li>
                                    </ul>
                                </figcaption>
                            </figure>
                        </div>
              </div>

              <div class="single-wrapper mahita1">
                  <div class="team-single-item wow fadeIn" data-wow-duration="2s" data-wow-delay=".2s">
                      <figure>
                          <div class="member-img">
                              <div class="teachars_pro">
                                  <img src="images/staff/nancy.JPG" alt="Sayna gang" class="img-fluid myImg">
                              </div>
                          </div>
                          <figcaption>
                              <div class="member-name">
                                  <h4><a href="#" title="">Nancy</a></h4>
                                  <span>Career Builder</span>
                              </div>
                              <br>
                              <ul class="social-links list-unstyled">
                                  <li class="nav-item"><a href="https://www.facebook.com/nancy.nomentsoa"><i class="fab fa-facebook-f"></i></a></li>
                                  <li class="nav-item"><a href="https://www.linkedin.com/in/nancy-andriampeno-51a452180/"><i class="fab fa-linkedin-in"></i></a></li>
                              </ul>
                          </figcaption>
                      </figure>
                  </div>
              </div>

              <div class="single-wrapper mahita1">
                  <div class="team-single-item wow fadeIn" data-wow-duration="2s" data-wow-delay=".3s">
                      <figure>
                          <div class="member-img">
                              <div class="teachars_pro">
                                  <img src="images/staff/tatiana.JPG" alt="Sayna gang" class="img-fluid myImg">
                              </div>
                          </div>
                          <figcaption>
                              <div class="member-name">
                                  <h4><a href="#" title="">Tatianah</a></h4>
                                  <span>Account Manager</span>
                              </div>
                              <br>
                              <ul class="social-links list-unstyled">
                                  <li class="nav-item"><a href="https://www.facebook.com/tatiana.fitiavana.7"><i class="fab fa-facebook-f"></i></a></li>
                                  <li class="nav-item"><a href="https://www.linkedin.com/in/fitiavana-tatiana-rakotoarimanga-9756a5184/"><i class="fab fa-linkedin-in"></i></a></li>
                              </ul>
                          </figcaption>
                      </figure>
                  </div>
              </div>

              <div class="single-wrapper mahita1">
                  <div class="team-single-item wow fadeIn" data-wow-duration="2s" data-wow-delay=".4s">
                      <figure>
                          <div class="member-img">
                              <div class="teachars_pro">
                                  <img src="images/staff/fenosoa.JPG" alt="Sayna gang" class="img-fluid myImg">
                              </div>
                          </div>
                          <figcaption>
                              <div class="member-name">
                                  <h4><a href="#" title="">Fenosoa</a></h4>
                                  <span>Project Manager</span>
                              </div>
                              <br>
                              <ul class="social-links list-unstyled">
                                  <li class="nav-item"><a href="https://www.facebook.com/butterfly.butterflyflyfly"><i class="fab fa-facebook-f"></i></a></li>
                                  <li class="nav-item"><a href="#"><i class="fab fa-instagram"></i></a></li>
                              </ul>
                          </figcaption>
                      </figure>
                  </div>
              </div>

              <div class="single-wrapper mahita1">
                        <div class="team-single-item wow fadeIn" data-wow-duration="2s" data-wow-delay=".2s">
                            <figure>
                                <div class="member-img">
                                    <div class="teachars_pro">
                                        <img src="images/staff/bruno.jpg" alt="Sayna gang" class="img-fluid myImg">
                                    </div>
                                </div>
                                <figcaption>
                                    <div class="member-name">
                                        <h4><a href="#" title="">Bruno</a></h4>
                                        <span>Coach</span>
                                    </div>
                                    <div class="spacer">&nbsp;</div>
                                    <ul class="social-links list-unstyled">
                                        <li class="nav-item"><a href="https://www.facebook.com/dano.plack.3"><i class="fab fa-facebook-f"></i></a></li>
                                        <li class="nav-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li class="nav-item"><a href="https://www.linkedin.com/in/ratovoarison-bruno-marcelino-302104103/"><i class="fab fa-linkedin-in"></i></a></li>
                                        <li class="nav-item"><a href="#"><i class="fab fa-instagram"></i></a></li>
                                    </ul>
                                </figcaption>
                            </figure>
                        </div>
              </div>

              <div class="single-wrapper mahita1">
                  <div class="team-single-item wow fadeIn" data-wow-duration="2s" data-wow-delay=".2s">
                      <figure>
                          <div class="member-img">
                              <div class="teachars_pro">
                                  <img src="images/staff/sitraka.JPG" alt="Sayna gang" class="img-fluid myImg">
                              </div>
                          </div>
                          <figcaption>
                              <div class="member-name">
                                  <h4><a href="#" title="">Sitraka</a></h4>
                                  <span>Fullstack Developer</span>
                              </div>
                              <br>
                              <ul class="social-links list-unstyled">
                                  <li class="nav-item"><a href="https://www.facebook.com/fenositraka.rasolondraibe"><i class="fab fa-facebook-f"></i></a></li>
                                  <li class="nav-item"><a href="https://www.linkedin.com/in/rasolondraibe-fenositraka-995028172/"><i class="fab fa-linkedin-in"></i></a></li>
                              </ul>
                          </figcaption>
                      </figure>
                  </div>
              </div>

              <div class="single-wrapper mahita1">
                  <div class="team-single-item wow fadeIn" data-wow-duration="2s" data-wow-delay=".3s">
                      <figure>
                          <div class="member-img">
                              <div class="teachars_pro">
                                  <img src="images/staff/mahefa.jpg" alt="Sayna gang" class="img-fluid myImg">
                              </div>
                          </div>
                          <figcaption>
                              <div class="member-name">
                                  <h4><a href="#" title="">Mahefa</a></h4>
                                  <span>Fullstack Developer</span>
                              </div>
                              <br>
                              <ul class="social-links list-unstyled">
                                  <li class="nav-item"><a href="https://web.facebook.com/profile.php?id=100009483587200"><i class="fab fa-facebook-f"></i></a></li>
                                  <li class="nav-item"><a href="https://www.linkedin.com/in/mahefa-hariniaina-ramaharavo-99017a172/"><i class="fab fa-linkedin-in"></i></a></li>
                              </ul>
                          </figcaption>
                      </figure>
                  </div>
              </div>

              <div class="single-wrapper mahita1">
                  <div class="team-single-item wow fadeIn" data-wow-duration="2s" data-wow-delay=".4s">
                      <figure>
                          <div class="member-img">
                              <div class="teachars_pro">
                                  <img src="images/staff/gondol.JPG" alt="Sayna gang" class="img-fluid myImg">
                              </div>
                          </div>
                          <figcaption>
                              <div class="member-name">
                                  <h4><a href="#" title="">Neilly</a></h4>
                                  <span>Graphic Designer </span>
                                  <br>
                                  <span> / Front Developer</span>
                              </div>
                              <ul class="social-links list-unstyled">
                                  <li class="nav-item"><a href="https://web.facebook.com/gondol.neilly/"><i class="fab fa-facebook-f"></i></a></li>
                                  <li class="nav-item"><a href="https://www.linkedin.com/in/neilly-randrianirina-411181172/"><i class="fab fa-linkedin-in"></i></a></li>
                              </ul>
                          </figcaption>
                      </figure>
                  </div>
              </div>

              <div class="single-wrapper mahita1">
                        <div class="team-single-item wow fadeIn" data-wow-duration="2s" data-wow-delay=".2s">
                            <figure>
                                <div class="member-img">
                                    <div class="teachars_pro">
                                        <img src="images/staff/princy.JPG" alt="Sayna gang" class="img-fluid myImg">
                                    </div>
                                </div>
                                <figcaption>
                                    <div class="member-name">
                                        <h4><a href="#" title="">Princy</a></h4>
                                        <span>Fullstack Developer</span>
                                    </div>
                                    <br>
                                    <ul class="social-links list-unstyled">
                                        <li class="nav-item"><a href="https://www.facebook.com/princy.tsimanarson.7"><i class="fab fa-facebook-f"></i></a></li>
                                        <li class="nav-item"><a href="https://www.linkedin.com/in/tsimanarson-princy-a-n-462b83177/"><i class="fab fa-linkedin-in"></i></a></li>
                                    </ul>
                                </figcaption>
                            </figure>
                        </div>
              </div>
            </div>

        </div>
    </div>
    <!-- The Modal -->
    <div id="myModal" class="modal">
        <!-- The Close Button -->
        <span class="close">&times;</span>
        <!-- Modal Content (The Image) -->
        <img class="modal-content" id="img01">
        <!-- Modal Caption (Image Text) -->
        <div id="caption"></div>
    </div>

</section><!-- ./ End Our Instructiors -->
