body.cvs {
    background: rgba(0, 0, 0, .6);
}

#moncv, .moncv {
    background: ghostwhite;
    border-right: 40px solid;
    border-left: 0;
    border-top: 0;
    border-bottom: 0;
}

.cv ul {
    list-style: none;
}

.cv {
    border: 2px solid;
    border-radius: 10px;
}

.cv .right {
    /* border-top: 3px double; */
}

.summary {
    font-size: 1.2em;
}

.language .col-md-10,
.programming_language .col-md-10 {
    padding-right: 2% !important;
}

.language .col-md-2,
.programming_language .col-md-2 {
    padding: 0;
}

.cv section.row {
    padding: 1% 0;
    margin: 1% 0;
}

.student_infos a {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}

.first-field {
    padding: 0 8px 0 0;
}

.student_dashboard1 .col-md-11,
.student_dashboard1 .col-md-1 {
    padding: 0;
}

.student_dashboard1 .col-md-11 {
    margin-left: -15px;
    margin-right: 5px;
}

.field {
    padding-left: 0;
}

.actions {
    word-spacing: 1em;
    box-shadow: 2px 2px 10px 0px blanchedalmond;
    border-radius: 0px 0px 5px 5px;
    padding: 2% 0px;
    background: rgba(0, 0, 0, 0.4);
    align-self: center;
    margin-left: 0.5%;
    text-align: center;
    margin-top: 0 !important;
    margin-right: .5%;
}

.actions a {
    border-radius: 50%;
    width: auto;
}

.switch {
    /* position: relative;
    left: 10.5em;
    bottom: 2.4em; */
}

.stars {
    word-spacing: .7em;
}

#skills, #languages, #programming_languages {
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 40px 50px rgba(0, 0, 0, 0.25) !important;
    outline: none;
    font-size: 1em;
    padding: 1%;
}

#skills input, #languages input, #programming_languages input {
    outline: none;
    border: 0;
    float: left;
    padding: 8px;
    background: none;
}

#skills input {
    margin: 0.5% 0.5%;
}

#languages input, #programming_languages input {
    width: 100%;
    margin: 1% 5% 0% 0%;
}

#skills::before, #languages::before, #programming_languages::before {
    content: '';
    display: table;
}

#skills::after, #languages::after, #programming_languages::after {
    content: '';
    display: table;
    clear: both;
}

.tag {
    margin: 0.5% 0.5%;
    border-radius: 3px;
    background: #b5aff9;
    float: left;
    padding: 4px;
    font-size: 1.4em;
    vertical-align: middle;
    box-shadow: 0px 1px 4px #c6c6c6, 0px 2px 17px #d1d1d1;
    width: auto;
}

.tag a {
    color: #000;
    padding-right: 10px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 5px;
}

.tag span {
    padding-right: 10px;
    padding-left: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.note {
    position: fixed;
    bottom: 10px;
    text-align: center;
    width: 100%;
}

/* Experiences */

.experience {
    margin: 0 2.5% 1% 2.5%;
    border: 1px solid;
    padding: 1%;
    border-radius: 5px;
}

.experience .name, .experience .date {
    display: inline;
}

.experience .name {
    width: 40%;
}

.experience .date {
    width: 60%;
}



.experience .name span, .experience .name input{
    margin-bottom: 1%;
    border: 1px solid;
    padding: 0 1%;
    border-radius: 5px;
    display: -webkit-inline-box;
        background-color: #4CAF50;
    color: white;
}

.experience .date span, .experience .date input{
        border: 1px solid;
    padding: 0 1%;
    border-radius: 5px;
    margin: 0 .5% 0 0%;
}

.experience .description p, .experience .description textarea{
    border: 1px solid;
    padding: 0 1%;
    border-radius: 5px;
    margin: .5% 0;
}

@media only screen and (min-width: 1200px) {
    * {
        /* border: 1px solid blue; */
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    * {
        /* border: 1px solid red; */
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    * {
        /* border: 1px solid gold; */
    }
}