/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
/* reset */
.registration * {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/*end reset*/
div.registration {
    font-size: 100%;
    background: #2F58B6;
    font-family: 'Signika', sans-serif;
}

.registration h1,
.registration h2,
.registration h3,
.registration h4,
.registration h5,
.registration h6,
.registration input,
.registration p,
.registration a,
.registration select {
    font-family: 'Signika', sans-serif;
    margin: 0;
}

/*-- main --*/
.registration input[type="submit"],
.registration input[type="reset"],
.registration .simple-form-button {
    transition: .5s ease-in;
    -webkit-transition: .5s ease-in;
    -moz-transition: .5s ease-in;
    -o-transition: .5s ease-in;
    -ms-transition: .5s ease-in;
}

.registration form input[type=submit] {
    display: none;
}

.main {
    margin: 3em auto;
    padding-bottom: 10%; 
    text-align: center;
    position: relative;
    height: 100%;
}

.main h1 {
    text-align: center;
    color: #fff;
    font-size: 2.5em;
    margin-bottom: 1.2em;
}

.simple-form-button {
    color: #fff;
    cursor: pointer;
    font-size: 1em;
    margin: 1em .6em;
    padding: 7px 45px;
    width: auto;
    height: auto;
    background: #FF8103;
    outline: none;
    margin: 2% 0 0 0;
}

.simple-form-button:hover {
    background: #fff;
    color: #212121;
}

.submit-button {
    background: #FF8103;
    float: right;
    display: none;
}

.form-controls {
    clear: both;
}

.previous-fieldset {
    display: none;
    float: left;
}

.next-fieldset {
    float: right;
}

a.next-fieldset,
a.previous-fieldset {
    color: #ccc;
}

.clear {
    clear: both;
}

.progress {
    border-bottom: 1px solid #EEECE9;
    border-top: 1px solid #FFFFFF;
    height: 20px;
}

.progress-bar {
    height: 30px;
    /* Can be anything */
    position: relative;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    padding: 3px;
    -webkit-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
    -moz-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
    box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
    overflow: hidden;
}

.progress-bar .progress-bg {

    display: block;
    height: 100%;
    -webkit-border-top-right-radius: 20px;
    -webkit-border-bottom-right-radius: 20px;
    -moz-border-radius-topright: 20px;
    -moz-border-radius-bottomright: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    -webkit-border-top-left-radius: 20px;
    -webkit-border-bottom-left-radius: 20px;
    -moz-border-radius-topleft: 20px;
    -moz-border-radius-bottomleft: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: rgb(43, 194, 83);
    background-image: -webkit-gradient(linear,
        left bottom,
        left top,
        color-stop(0, rgb(43, 194, 83)),
        color-stop(1, rgb(84, 240, 84)));
    background-image: -webkit-linear-gradient(center bottom,
        rgb(43, 194, 83) 37%,
        rgb(84, 240, 84) 69%);
    background-image: -moz-linear-gradient(center bottom,
        rgb(43, 194, 83) 37%,
        rgb(84, 240, 84) 69%);
    background-image: -ms-linear-gradient(center bottom,
        rgb(43, 194, 83) 37%,
        rgb(84, 240, 84) 69%);
    background-image: -o-linear-gradient(center bottom,
        rgb(43, 194, 83) 37%,
        rgb(84, 240, 84) 69%);
    -webkit-box-shadow:
        inset 0 2px 9px rgba(255, 255, 255, 0.3),
        inset 0 -2px 6px rgba(0, 0, 0, 0.4);
    -moz-box-shadow:
        inset 0 2px 9px rgba(255, 255, 255, 0.3),
        inset 0 -2px 6px rgba(0, 0, 0, 0.4);
    overflow: hidden;
    width: 0%;
}

.progress-bar .progress-text {

    /*-- w3layouts --*/
    position: absolute;
    height: 90%;
    font-size: 1.4em;
    z-index: 10;
}

#wrapper {
    width: 550px;
    margin: 0 auto;
    position: relative;
}

.registration form {
    border-radius: 10px;
    border: 3px solid #ccc;
    box-shadow: 0px 2px 5px 0px #444;
    background: rgba(46, 46, 46, 0.3);
    position: relative;
    padding: 10px;
    overflow: hidden;
}

form#testform {
    min-height: 0 !important;
}

.registration {
    height: 100%;
}
.registration .fieldset {
    width: 100% !important;
}

.registration fieldset {
    margin: 3%;
}

.registration .user-form label.agileits_label {
    width: auto;
    padding: 0 2%;
    font-weight: bold;
    color: #2F58B6;
    border: 1px solid #fff;
    border-radius: 5px 10px 0px 0px;
    background-color: rgba(0, 0, 0, 1.0);
}

.user_status {
    margin: 0 !important;
}

.user_status label {
    color: white;
    font-size: 1.5em;
}

.guest-check {
    color: #fff;
    font-size: 1.5em;
}

input,
textarea {
    background: #fff;
    border: none;
    color: #403D3A;
    font-size: 14px;
    padding: 10px;
}

textarea {
    clear: left;
    width: 100% !important;
    min-height: 140px;
    resize: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
}

label.error,
.required {
    font-size: 12px;
    color: red;
}

label.agileits_label {
    float: left;
    width: 25%;
    font-size: 14px;
    text-transform: uppercase;
    margin: .8em 0 0;
    /*-- agileits --*/
    color: #fff;
}

.w3_agileits_field span {
    display: block;
    padding: .8em 0;
}

fieldset.conditions div.conditions {
    overflow-y: auto;
    height: 175px;
    border: 1px solid grey;
    box-shadow: 1px 2px 5px inset;
    padding: 1% 5%;
}

fieldset.conditions input[type=checkbox] {
    width: 5%;
    float: left;
}

fieldset.conditions label{
    width: 95%;
    text-align: -webkit-left;
    position: relative;
    top: 6px;
    left: 8px;
}


/*-- start-responsive-design --*/
@media (min-width: 992px) {}

@media (min-width: 668px) and (max-width:991px) {

    textarea {
        width: 100% !important;
    }

    .main h1 {
        margin-bottom: 1.5em;
    }

}

@media (min-width: 601px) and (max-width:667px) {}

@media (min-width: 569px) and (max-width: 600px) {
    .main h1 {
        margin-bottom: 1.3em;
        font-size: 2.3em;
    }

    #wrapper {
        width: 465px;
    }

    label.agileits_label {
        font-size: 12px;
    }
}

@media (min-width: 481px) and (max-width: 568px) {
    .main h1 {
        margin-bottom: 1em;
        font-size: 2.1em;
    }

    .main {
        margin: 2em auto;
    }
}

@media (min-width: 415px) and (max-width: 480px) {
    #wrapper {
        width: 415px;
    }
}

@media (min-width: 385px) and (max-width: 414px) {
    .main h1 {
        /*-- w3layouts --*/
        font-size: 1.8em;
    }

    #wrapper {
        width: 355px;
    }
}

@media (min-width: 376px) and (max-width: 384px) {
    .main h1 {
        font-size: 1.7em;
    }
}

@media (min-width: 321px) and (max-width: 375px) {
    .simple-form-button {
        margin: 1em 0.2em;
    }
}

@media (min-width: 321px) {}

@media (max-width: 320px) {
    #wrapper {
        width: 275px;
    }

    .progress-bar {
        height: 10px;
    }

    .progress-bar .progress-text {

        height: 80%;
        font-size: 1.4em;
        font-size: 12px;
        line-height: 1.2;
    }

    label.agileits_label {
        float: none;
        width: 100%;
        text-align: left;
        margin-bottom: .8em;
        display: block;
    }

    input,
    textarea {
        width: 91%;
        font-size: 13px;
    }

    .w3_agileits_field span {
        padding: .8em 0 0;
    }

    .simple-form-button {
        margin: 1em 0.1em;
        padding: 7px 35px;
        font-size: 14px;
    }

    textarea#comments {
        width: 100%;
    }
}