<!--========={ Footer }========-->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-3">
                <div class="footer_single">
                  <div >
                    <img src="images/sayna.png" alt="" class="footer_logo img-fluid">
                </div>
                <ul class="list-unstyled contact_info">
                    <li>hello@sayna.io</li>
                    <li>Call: +261 (0)34 50 057 49</li>
                </ul>
                <div class="social_wraper">
                    <ul class="social-items d-flex list-unstyled">
                        <li></a></li>
                        <li></a></li>
                        <li></a></li>

                    </ul>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-12 col-md-6 col-lg-3">
            <div class="footer_single footer_signle_item_2">
                <h3 class="footer_item_title">Pages</h3>
                <ul class="list-unstyled">
                    <li><a data-method="GET" href="index.html">Accueil</a></li>
                    <li><a data-method="GET" href="thp.html">The Hacking Project</a></li>
                    <li><a data-method="GET" href="simplon.html">Simplon</a></li>
                    <li><a data-method="GET" href="equipe.html">Equipe</a></li>

                </ul>
            </div>
        </div>

        <div class="col-12 col-sm-12 col-md-6 col-lg-3">
            <div class="footer_single footer_signle_item_3">
                <h3 class="footer_item_title">Réseaux sociaux</h3>
                <ul class="list-unstyled">
                  <ul class="social-items d-flex list-unstyled">
                    <li><a data-method="GET" href="javascript:;"><a data-method="GET" href="https://www.facebook.com/HelloSayna/"><i class="fab fa-facebook-f fb-icon"></i></a>  </li>
                    <li><a data-method="GET" href="javascript:;"><a data-method="GET" href="https://twitter.com/razafimahefam?lang=en"><i class="fab fa-twitter twitt-icon"></i></a>  </li>
                    <li><a data-method="GET" href="javascript:;"><a data-method="GET" href="https://www.linkedin.com/in/matina-razafimahefa-a8156a135/"><i class="fab fa-linkedin-in link-icon"></i></a>  </li>
                    <li><a data-method="GET" href="https://www.instagram.com/matina_razafimahefa/?hl=en"><i class="fab fa-instagram ins-icon"></i></a> </li>
                </ul>
            </ul>
        </div>
    </div>

    <div class="col-12 col-sm-12 col-md-6 col-lg-3">
        <div class="footer_single footer_signle_item_4">
            <h3 class="footer_item_title">Adresse</h3>
            <ul class="list-unstyled">
                <li><a data-method="GET" href="javascript:;"> Faravohitra Tananarive</a></li>
                <li><a data-method="GET" href="javascript:;">Lot A 192 rue Rainandriamapadry</a></li>

            </ul>
        </div>
    </div>

</div>
</div>
<div class="copytight_info">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12 d-flex justify-content-between">
                <p>Copyright &copy;2019 Sayna Madagascar, All rights reserved.</p>
                <ul class="nav navbar list-unstyled">

                </ul>
            </div>
        </div>
    </div>
</div>
</footer><!-- Footer -->



<!--============= { Ccroll Top} ===========-->
<section id="scroll-top" class="scroll-top">
    <h2>&nbsp;</h2>
    <div class="to-top pos-rtive">
        <a href="javascript:;"><i class = "fa fa-arrow-up"></i></a>
    </div>
</section>
